body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,textarea{margin:0;padding:0;border:0;} 
body{background:#fff;color:#333;font-size:12px; margin-top:5px;font-family:"SimSun","宋体","Arial Narrow";} 
 
ul,ol{list-style-type:none;} 
select,input,img,select{vertical-align:middle;} 
 
a{text-decoration:none;} 
a:link{color:#009;} 
a:visited{color:#800080;} 
a:hover,a:active,a:focus{color:#c00;text-decoration:underline;}

.clear{clear: both;}
.break{word-wrap: break-word;}


body { background: url("/resource/img/bg/04.jpg");background-attachment: fixed;}

#header{font-family: "华文行楷";margin-top: -110px; padding: 20px 0 0 30px;border-bottom: 2px solid #00008b;position: fixed;width: 100%;background: url("/resource/img/bg/04.jpg");z-index:2;}
#header h1{font-weight: normal;font-size: 35px;padding:4px 0px 8px 40px;}
#header ul li{display:inline-block;padding: 5px 20px;background-color:#66CDFF;margin:0 2px; }
#header a{font-size:20px;text-decoration: none;color: black;}
#header li.on{background-color:#C0C0C0}
#header li.on a{color:#FF8000;}
#header li.hoveron{background-color:#C0C0C0}

#main{margin:104px 0 0 30px;padding:20px 0 0 0;position:relative;z-index:1;}
.intro{width:800px;margin:10px 0;position:relative;overflow:hidden;}
.introcontainer{width:4800px;height:449px;position:relative;}
.intro img{position:relative;float:left;}
.intronav{background:rgba(0,0,0,0.2);height:50px;width:100%;position:relative;top:-70px;}
.intronav ul{list-style:none;width:30%;margin:0 auto;text-align:center;}
.intronav li{display:inline-block;border:1px solid #36F;width:16px;height:48px;line-height:48px;font-size:25px;background:rgba(52,176,203,0.2);}
.intronav li.on{background:rgba(52,176,203,0.6);}
.intronav a{text-decoration:none;}

#passageList{width: 60%;position:relative;margin-bottom: 100px;}
#passageList ul *{font-size:20px;}
#passageList ul h2{font-size:24px;}
#passageList ul li{margin-bottom: 15px;padding: 5px;}
#passageList ul .lihead{width: 16%;display: inline-block;vertical-align:top;padding: 5px;}
#passageList ul .libody{width: 78%;display: inline-block;border-left:2px solid rgba(69,162,167,1);padding: 5px;}
#passageList ul .libody small{ font-size: 12px;}
#passageList ul .libody h3,#passageList ul .libody h4 a{font-size: 14px}

#passageEdit .ptitle {padding-bottom:10px;margin-bottom:15px;padding:3px;}
#passageEdit .ptitle input{height:30px;width:50%;border-style:none;background-color:transparent;border-bottom: 1px dashed black;padding:2px 2px 4px 2px}
#passageEdit .pcontent{width:800px;background-color:transparent;overflow: auto;overflow-x: hidden;border: none;font-size: 16px;line-height: 50px;}
#passageEdit .txtSummary{width: 800px;height: 120px;}
#passageEdit,#passageEdit input,#passageEdit textarea{font-family:"华文楷体";font-size:20px;}


#passage{ width: 70%;}
#passage iframe{width: 100%;height: 100%;background-color:transparent;border: none;font-size: 16px;line-height: 50px;}
#passage .ptitle{font-size: 30px;font-weight: bold;color: blue;margin: 0 0 20px -100px;text-align: center;}
#passage input, #passage textarea{padding:4px; border:1px solid #7F9DB9; background-color:#fff;}
#passage input:focus, #passage textarea:focus{border-color:#34538b; box-shadow:inset 0 1px #f0f3f9;}
#passage input{width:250px; margin:5px 5px 1px 0;}
#passage textarea {width:550px; height:140px; overflow:auto;margin:5px 0 0 0;}
#passage #btnRCommit{width:100px; background-color:#f0f3f9; overflow:visible; cursor:pointer; box-shadow:1px 1px #AFC4EA,2px 2px #AFC4EA,3px 3px #AFC4EA; font-size:14px;}
#passage #btnRCommit:hover{background-color:#EAEDF5;}

#passage .pcommentList{width:90%; padding-left:25px;list-style-type:decimal}
#passage .pcommentList li{margin:15px 0 10px; padding:5px 5px 10px 10px;border: 1px solid #afc4ea}
#passage .pcommentList li ul li{margin-left:1em; background-color:#eee;}
#passage .pcommentList p{margin:10px 5px 10px 0;word-wrap: break-word;}
#passage .pcommentList li{font-size: 14px;font-weight:bold;}
#passage .pcommentList li img{float:right; border:1px solid #eee;	padding:2px;background:#fff;}
#passage .pcommentList cite, .pcommentList cite a {font-weight:bold;font-style:normal;}
#passage .pcommentList p {font-weight:normal;line-height:1.5; text-transform:none;	}
#passage .pcommentList .comment_time{color: #808080}
#passage .preply{ padding-left: 25px;}
#passage .preply small{ display: none;}









.c_float_right{ float: right;}

.c_header body,h1,ul{margin:0;}
.c_title{ background-color: #1e90ff;color: #ffffff;font-size: 20px;padding: 5px 0px 10px 5px;}
.c_nav { background-color: beige;overflow: hidden;}
.c_nav li{ float: left;margin: 5px;background-color: #ffffff;padding: 5px;display: inline-block;}
.c_nav li:hover{ box-shadow: 2px 2px 2px;}
.c_nav .c_on{background-color: gold;box-shadow: 2px 2px 2px;}
.c_nav a{text-decoration:none; font-size: 18px;} 
.c_nav a:link{color:#009;} 
.c_nav a:visited{color:#800080;} 
.c_nav a:hover,a:active,a:focus{ color: #c00;}

.c_pictures_1{ position: relative;width: 100%;height: 500px;}
.c_pictures_1 li{ float: left;margin: 0px 2px 5px 0;padding: 2px 0;border: 1px #778899 dashed;height: 286px;width: 240px;}
.c_pictures_1 li div{ margin: 2px 0;}
.c_pictures_1 li div input{ width: 70px;}
.c_picture_1_d{ vertical-align: top;}


.img-div img {
    float: left;
}
.img-div img:first-child {
    width: 150px;
    height: 150px;
    margin-bottom: 2px;
}

.img-div {
    float: left;
}

.drop-left, .drop-right {
    width: 72px;
    height: 252px;
    float: left;
}


#btnSave{
    padding: 3px 8px;
    font-size: 18px;
    background-color: darkgray;
}
#btnSave:hover {
    box-shadow: 2px 2px 2px;
}









#footer {text-align:center}
#footer p{font-size:12px;}
#targetPage{width:30px}






